---
import Layout from '../layouts/Layout.astro';
import Badge from '../components/Badge.astro';
import SocialPill from "../components/SocialPills.astro";
import LinkedInIcon from '../components/icons/LinkedInIcon.astro';
import GitHubIcon from '../components/icons/GitHubIcon.astro';
import MailIcon from '../components/icons/MailIcon.astro';
import ExperienceIcon from '../components/icons/ExperienceIcon.astro';
import ProjectsIcon from "../components/icons/ProjectsIcon.astro";
import Experience from '../components/Experience.astro';
import SectionContainer from '../components/SectionContainer.astro';
import Projects from '../components/Projects.astro';
---

<Layout 
	title="Porfolio de Fran Riera - Desarrollador y Programador Web"
	description="Contrata a Fran Riera para crear tu aplicación web. Desarrollador web."
>
	<main class="px-6">
		<SectionContainer class="flex flex-col justify-center items-center mt-4 py-20 pb-20">

			<img 
				class="rounded-full size-40 mb-4" 
				src="https://avatars.githubusercontent.com/u/43618868?v=4" 
				alt="franriera photo"
			/>
			<p class="text-xl pb-2 lg:pb-1">Hola 👋🏻, soy </p>
			<h1 class="text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-3">
				Fran Riera <a
					href="https://www.linkedin.com/in/franrd"
					target="_blank"
					rel="noopener"
					class="flex justify-center items-center"
				>
				</a>
			</h1>
			
			<h2 class="text-center text-xl lg:text-2xl text-pretty max-w-[1000px]">
				<span class="text-white">Desarrollador Web apasionado por el </span>
				<span class="text-[#00868E]">frontend</span>.<br>
				<span class="text-yellow-200/90">De Alicante, España.</span>
				<span class="opacity-75">Especializado en crear aplicaciones únicas.</span>
			</h2>

			<Badge>Open to Work</Badge>

			<nav class="flex gap-4 mt-8 flex-wrap">
					<SocialPill href="https://www.linkedin.com/in/franrd/">
						<LinkedInIcon class="size-4 md:size-6"/>
							LinkedIn
					</SocialPill>
					<SocialPill href="https://github.com/FranRD98">
						<GitHubIcon class="size-4 md:size-6"/>
							GitHub
					</SocialPill>
					<SocialPill href="mailto:franrd98@outlook.com">
						<MailIcon class="size-4 md:size-6"/>
							franrd98@outlook.com
					</SocialPill>
					<SocialPill href="#">
						Descargar CV
					</SocialPill>
				</nav>
			</SectionContainer>

		<SectionContainer id="experiencia">
			<h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
				<ExperienceIcon class="size-7"/>
				Experiencia laboral
			</h2>
			<Experience />
		</SectionContainer>

		<SectionContainer id="proyectos">
			<h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
				<ProjectsIcon class="size-7"/>
				Proyectos
			</h2>
			<Projects />
		</SectionContainer>

		<SectionContainer id="sobre-mi">
			<h2 class="text-3xl font-semibold mb-6 flex gap-x-3 justify-center">
				Sobre mí
			</h2>
		</SectionContainer>
		
		<SectionContainer id="skills">
			<h2 class="text-3xl font-semibold mb-6 flex gap-x-3 justify-center">
				SKILLS
			</h2>

			<div id="proyecto" class="flex flex-wrap">
				<div id="frontend" class="w-1/2 p-4">	
					<h3 class="text-center">Frontend</h3>
						<div class="flex flex-wrap justify-center">
							<img class="mx-1 my-1" src="https://placehold.co/100x100"></p>
							<img class="mx-1 my-1" src="https://placehold.co/100x100"></p>
							<img class="mx-1 my-1" src="https://placehold.co/100x100"></p>
							<img class="mx-1 my-1" src="https://placehold.co/100x100"></p>
							<img class="mx-1 my-1" src="https://placehold.co/100x100"></p>
							<img class="mx-1 my-1" src="https://placehold.co/100x100"></p>

						</div>
				</div>
				<div id="backend" class="w-1/2 p-4">	
					<h3 class="text-center">Backend</h3>
					<div class="flex flex-wrap justify-center">
						<img class="mx-1 my-1" src="https://placehold.co/100x100"></p>
						<img class="mx-1 my-1" src="https://placehold.co/100x100"></p>
						<img class="mx-1 my-1" src="https://placehold.co/100x100"></p>
						<img class="mx-1 my-1" src="https://placehold.co/100x100"></p>
						<img class="mx-1 my-1" src="https://placehold.co/100x100"></p>
						<img class="mx-1 my-1" src="https://placehold.co/100x100"></p>

					</div>
				</div>	
				<div id="aprendiendo" class="w-1/2 p-4">	
					<h3 class="text-center">Aprendiendo</h3>
					<div class="flex flex-wrap justify-center">
						<img class="mx-1" src="https://placehold.co/100x100"></p>
						<img class="mx-1" src="https://placehold.co/100x100"></p>
						<img class="mx-1" src="https://placehold.co/100x100"></p>
						
					</div>
				</div>	
				<div id="tools" class="w-1/2 p-4">	
					<h3 class="text-center">Herramientas</h3>
					<div class="flex flex-wrap justify-center">
						<img class="mx-1 my-1" src="https://placehold.co/100x100"></p>
						<img class="mx-1 my-1" src="https://placehold.co/100x100"></p>
						<img class="mx-1 my-1" src="https://placehold.co/100x100"></p>
						<img class="mx-1 my-1" src="https://placehold.co/100x100"></p>
						<img class="mx-1 my-1" src="https://placehold.co/100x100"></p>
						<img class="mx-1 my-1" src="https://placehold.co/100x100"></p>

					</div>
				</div>			
			</div>
			
		</SectionContainer>
		<SectionContainer id="#contacto">
			<h2 class="text-3xl font-semibold mb-6 flex gap-x-3 justify-center">
				CONTACTO
			</h2>
		</SectionContainer>

	</main>
</Layout>
