---
import Layout from '../layouts/Layout.astro';
import Badge from '../components/Badge.astro';
import SocialPill from "../components/SocialPills.astro";
import LinkedInIcon from '../components/icons/LinkedInIcon.astro';
import MailIcon from '../components/icons/MailIcon.astro';
import ExperienceIcon from '../components/icons/ExperienceIcon.astro';
import ProjectsIcon from "../components/icons/ProjectsIcon.astro";
import Experience from '../components/Experience.astro';
import SectionContainer from '../components/SectionContainer.astro';
import Projects from '../components/Projects.astro';

import HTMLIcon from "../components/icons/HTMLIcon.astro";
import CSSIcon from "../components/icons/CSS.astro";
import JavascriptIcon from "../components/icons/JavascriptIcon.astro";
import BootstrapIcon from "../components/icons/Bootstrap.astro";
import PHPIcon from "../components/icons/PHPIcon.astro";
import SQLServerIcon from "../components/icons/SQLIcon.astro"
import AstroIcon from "../components/icons/AstroIcon.astro";
import DockerIcon from "../components/icons/DockerIcon.astro";
import TailwindIcon from "../components/icons/TailwindIcon.astro";
import GitIcon from "../components/icons/GitIcon.astro";
import WarpIcon from "../components/icons/WarpIcon.astro";
import VSCodeIcon from "../components/icons/VSCodeIcon.astro";
import NPMIcon from "../components/icons/Npmicon.astro";
import HomebrewIcon from "../components/icons/HomebrewIcon.astro";
import WordPressIcon from "../components/icons/WordPressIcon.astro";
import GitHubIcon from "../components/icons/GitHubIcon.astro";  

---

<Layout 
	title="Porfolio de Fran Riera - Desarrollador y Programador Web"
	description="Contrata a Fran Riera para crear tu aplicación web. Desarrollador web."
>
	<main class="px-6">
		<SectionContainer class="flex flex-col justify-center items-center mt-4 py-20 pb-20">

			<img 
				class="rounded-full size-40 mb-4" 
				src="https://avatars.githubusercontent.com/u/43618868?v=4" 
				alt="franriera photo"
			/>
			<p class="text-xl pb-2 lg:pb-1">Hola 👋🏻, soy </p>
			<h1 class="text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-3">
				Fran Riera <a
					href="https://www.linkedin.com/in/franrd"
					target="_blank"
					rel="noopener"
					class="flex justify-center items-center"
				>
				</a>
			</h1>
			
			<h2 class="text-center text-xl lg:text-2xl text-pretty max-w-[1000px]">
				<span class="text-white">Desarrollador Web apasionado por el </span>
				<span class="text-[#00868E]">frontend</span>.<br>
				<span class="text-yellow-200/90">De Alicante, España.</span>
				<span class="opacity-75">Especializado en crear aplicaciones únicas.</span>
			</h2>

			<Badge>Open to Work</Badge>

			<nav class="flex gap-4 mt-8 flex-wrap">
					<SocialPill href="https://www.linkedin.com/in/franrd/">
						<LinkedInIcon class="size-4 md:size-6"/>
							LinkedIn
					</SocialPill>
					<SocialPill href="https://github.com/FranRD98">
						<GitHubIcon class="size-4 md:size-6"/>
							GitHub
					</SocialPill>
					<SocialPill href="mailto:franrd98@outlook.com">
						<MailIcon class="size-4 md:size-6"/>
							franrd98@outlook.com
					</SocialPill>
					<SocialPill href="#">
						Descargar CV
					</SocialPill>
				</nav>
			</SectionContainer>

		<SectionContainer id="experiencia">
			<h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
				<ExperienceIcon class="size-7"/>
				Experiencia laboral
			</h2>
			<Experience />
		</SectionContainer>

		<SectionContainer id="proyectos">
			<h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
				<ProjectsIcon class="size-7"/>
				Proyectos
			</h2>
			<Projects />
		</SectionContainer>

		<SectionContainer id="sobre-mi">
			<h2 class="text-3xl font-semibold mb-6 flex gap-x-3 justify-center">
				Sobre mí
			</h2>
		</SectionContainer>
		
		<SectionContainer id="skills">
			<h2 class="text-3xl font-semibold mb-6 flex gap-x-3 justify-center">
				SKILLS
			</h2>

			<div id="proyecto" class="flex flex-wrap">
				<div id="frontend" class="w-1/2 p-4">	
					<h3 class="text-3xl font-bold text-center pb-4">Frontend</h3>
						<div class="flex flex-wrap justify-center">
							<HTMLIcon class="size-14 mx-3 my-3"/>
							<CSSIcon class="size-14 mx-3 my-3"/>
							<JavascriptIcon class="size-14 mx-3 my-3"/>
							<BootstrapIcon class="size-14 mx-3 my-3"/>

						</div>
				</div>
				<div id="backend" class="w-1/2 p-4">	
					<h3 class="text-3xl font-bold text-center pb-4">Backend</h3>
					<div class="flex flex-wrap justify-center">
						<PHPIcon class="size-14 mx-3 my-3"/>
						<SQLServerIcon class="size-14 mx-3 my-3"/>
					</div>
				</div>	
				<div id="aprendiendo" class="w-1/2 p-4">	
					<h3 class="text-3xl font-bold text-center pb-4">Aprendiendo</h3>
					<div class="flex flex-wrap justify-center">
						<AstroIcon class="size-14 mx-3 my-3"/>
						<DockerIcon class="size-14 mx-3 my-3"/>
						<TailwindIcon class="size-14 mx-3 my-3"/>			
					</div>
				</div>	
				<div id="tools" class="w-1/2 p-4">	
					<h3 class="text-3xl font-bold text-center pb-4">Herramientas</h3>
					<div class="flex flex-wrap justify-center">
						<GitIcon class="size-14 mx-3 my-3"/>
						<GitHubIcon class="size-14 mx-3 my-3"/>
						<WarpIcon class="size-14 mx-3 my-3"/>
						<VSCodeIcon class="size-14 mx-3 my-3"/>
						<NPMIcon class="size-14 mx-3 my-3"/>
						<HomebrewIcon class="size-14 mx-3 my-3"/>
						<WordPressIcon class="size-14 mx-3 my-3"/>
					</div>
				</div>			
			</div>
			
		</SectionContainer>
		<SectionContainer id="#contacto">
			<h2 class="text-3xl font-semibold mb-6 flex gap-x-3 justify-center">
				CONTACTO
			</h2>
		</SectionContainer>

	</main>
</Layout>
