---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCE = [
    {
        date: 'Enero 2022 - Septiembre 2024 (2 años 9 meses)',
        title: 'Programador de sistemas',
        enterprise: 'ROLSER',
        description:
        `Desarrollo de features y mejoras para AHORA ERP y plataforma FlexyGo mediante C#, HTML, CSS y JavaScript.
        Uso de Node-Red para automatización de procesos. Introducción a contenedores Docker, bases de datos SQL Server. 
        Generación de documentos dinamicos en Crystal reports, DevExpress y BarTender.
        Utilización de WordPress para tienda y web empresarial. Administración de servidores Windows Server (IIS, Exchange y Domain Server).
        Metodología Kanban. Mantenimiento general de equipos informáticos de los empleados.`,
        link: '#',
    },
    {
        date: 'Junio 2019 - Agosto 2021 (2 años 3 meses)',
        title: 'Responsable de IT y 3D',
        enterprise: 'FRESDENTAL',
        description:
        `Creación de páginas empresariales para satisfacer la necesidades de los clientes mediante WordPress. 
        Implementación de herramienta 'OSTicket' para gestión de soporte técnico de impresoras 3D.
        Mantenimiento integral de sistemas informáticos, incluyendo gestión y soporte técnico 3D. 
        Configuración y optimización de infraestructura interna de la empresa.
        Generación de ficheros 3D para la producción y puesta en marcha en impresoras 3D.`,
        link: '#',
    },
    {
        date: 'Febrero 2019 - Junio 2019',
        title: 'Programador de sistemas (FP Dual)',
        enterprise: 'ROLSER',
        description:
        '',
        link: '#',
    },
    {
        date: 'Abril 2017 - Mayo 2017',
        title: 'Desarrollador de sitios web (ERASMUS)',
        enterprise: 'Social Enterprise Hub Ireland',
        description:
        `Creación de proyectos web para clientes internacionales mediante WordPress, Elementor, HTLM, CSS y JavaScript.`,
        link: '#',
    },
    {
        date: 'Marzo 2017 - Mayo 2017',
        title: 'Administrador de sistemas y redes (Prácticas)',
        enterprise: 'Hospital Marina Salud',
        description:
        `Mantenimiento de equipos y servidores, optimización de la infraestructura de red, 
        y uso de herramientas de gestión como JIRA y Confluence, con seguimiento de tareas mediante la metodología Kanban.`,
        link: '#',
    }

];
---
<ol class="relative border-s border-gray-200 dark:border-gray-700 ml-3">
    {EXPERIENCE.map(experience => (
        <li class="mb-10 ms-4">
            <ExperienceItem {...experience} />
        </li>
    ))}
</ol>


