---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCE = [
    {
        date: 'Enero 2022 - Septiembre 2024 (2 años 9 meses)',
        title: 'Programador de sistemas',
        enterprise: 'ROLSER',
        description:
        `Desarrollo de features y mejoras para ERP AHORA y plataforma FlexyGo mediante C#, HTML, CSS y JavaScript.
        Automatización de procesos mediante Node-Red. Introducción a contenedores Docker, uso de bases de datos SQL Server,
        stored procedures, vistas y triggers. Generación de documentos dinamicos Crystal reports, DevExpress y BarTender.
        Utilización de WordPress para ecommerce y web empresarial. Administración de servidores Windows Server (IIS, Exchange y Domain Server).
        Metodología KANBAN. Mantenimiento general de equipos informáticos de los empleados.`,
        link: '#',
    },
    {
        date: 'Junio 2019 - Agosto 2021 (2 años 3 meses)',
        title: 'Responsable de IT y 3D',
        enterprise: 'FRESDENTAL',
        description:
        `Utilización de WordPress para la creación de diferentes páginas empresariales para satisfaces las necesidades
        de los clientes. Implementación de herramienta de OSTicket para gestión de soporte técnico de impresoras 3D (Microlay, XFAB y Ackuretta)
        Mantenimiento integral de sistemas informáticos, incluyendo gestión y soporte técnico. Configuración y optimización de infraestructura
        de red. Generación de ficheros 3D para la producción y puesta en marcha en impresoras 3D:`,
        link: '#',
    },
    {
        date: 'Febrero 2019 - Junio 2019',
        title: 'Programador de sistemas (FP Dual)',
        enterprise: 'ROLSER',
        description:
        '',
        link: '#',
    },
    {
        date: 'Abril 2017 - Mayo 2017',
        title: 'Desarrollador de sitios web (ERASMUS)',
        enterprise: 'Social Enterprise Hub Ireland',
        description:
        `Creación de proyectos web para clientes internacionales mediante WordPress, Elementor, HTLM, CSS y JavaScript.`,
        link: '#',
    },
    {
        date: 'Marzo 2017 - Mayo 2017',
        title: 'Administrador de sistemas y redes (Prácticas)',
        enterprise: 'Hospital Marina Salud',
        description:
        `Mantenimiento de equipos y servidores, reestructuración de la infraestructura red, utilización de herramientas de gestión
        como JIRA y confluence, al igual que seguimientos de tareas mediante KANBAN.`,
        link: '#',
    }

];
---
<ol class="relative border-s border-gray-200 dark:border-gray-700 ml-3">
    {EXPERIENCE.map(experience => (
        <li class="mb-10 ms-4">
            <ExperienceItem {...experience} />
        </li>
    ))}
</ol>


