<header>
    <div class="border flex items-center h-24 font-bold">
        
        <!-- LOGO -->
        <div class="w-1/4 h-full flex items-center justify-center ml-28">
            <img src="https://placehold.co/70x70" alt="Logo">
        </div>

        <!-- MENU NAVEGACIÓN -->
        <div class="w-1/2 h-full flex items-center justify-center">
            <nav class="space-x-8"> 
                <a class="hover:text-[#00868E]" href="#quien-soy">
                    ¿Quién soy?
                </a>
                <a class="hover:text-[#00868E]" href="#experiencias">
                    Experiencia
                </a>
                <a class="hover:text-[#00868E]" href="#proyectos">
                    Proyectos
                </a>
            </nav>  
        </div>    

        <!-- BOTÓN CONTACTO -->
        <div class="w-1/4 h-full flex items-center justify-center mr-28">
            <a class="bg-[#00868E] text-white rounded-lg px-6 py-3" href="#contacto">Contacto</a>
        </div>

    </div>
</header>