---
import '@fontsource/poppins'; // Importamos la fuenta deseada 'Poppins'
import Header from '../components/Header.astro'; // Importamos el componente Header.astro
import Footer from '../components/Footer.astro'; // Importamos el componente Footer.astro

interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Header />
		<slot />
		<Footer />
	</body>
</html>
<style is:global>
	:root {
		color: #1E2532;
		font-family: 'Poppins', sistem-ui, sans-serif;
	}
	html {
		font-family: system-ui, sans-serif;
		background-color: #fff;
		scroll-behavior: smooth;

	}

	body{
		background-color: #fff;
		display: flex;
		flex-direction: column;
		justify-content: center;
		min-height: 100vh;
	}

	@media(prefers-reduced-motion: reduce){
		html {
			scroll-behavior: auto;
		}
	}

</style>
